:root {
    --color-primary: #FF6565;
    --color-white: #FFFFFF;
    --header-font: Source Sans Pro;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Header Hero Section ------------------------------------------- */

header {
    width: 100%;
    height: 100vh;
    background: url(./images/headphones_hero_1.jpg) no-repeat center; 
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.logo {
    width: 180px;
    height: 36px;
}


.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu .nav-item {
    padding: 0 1rem;
}

.nav-menu .nav-item a {
    text-decoration: none;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: var(--color-white);
}


.nav-menu .nav-item a:hover {
    color: var(--color-primary);
}

/* Hamburger menu way in css without requiring extra span tags */
/* .h-menu + .h-menu-button {
    // this draws middle bars
  background: linear-gradient(to right, #A8B5C8, #A8B5C8) no-repeat;
  background-position: center left;
  background-size: 70% 2px;
  // this draws top and buttom bars
  border: solid #A8B5C8;
  border-width: 2px 0;
  height: 10px;
  width: 18px;
  position: absolute;
  top: 72px; 
  left: 5%;
  cursor: pointer;
} */

/* Hamburger menu -----------------*/
/* i think the menu-line span is totally wasted i only added it out of classical use */
.h-menu {
    display: none;
}

.h-menu-button {
    display: none;
}
.h-menu + .h-menu-button .menu-line {
    position: absolute;
    left: 5%;
    width: 18px;
    height: 3px;
    background: var(--color-white);
    border-radius: 2px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.h-menu + .h-menu-button .menu-line::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--color-white);
    border-radius: 2px;
    transform: translateY(-8px);
    display: block;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.h-menu + .h-menu-button .menu-line::after {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--color-white);
    border-radius: 5px;
    transform: translateY(8px);
    display: block;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.h-menu:checked + .h-menu-button .menu-line {
    transform: translateX(-18px);
    background: transparent;
}

.h-menu:checked + .h-menu-button .menu-line::before {
    transform: rotate(45deg) translate(15px, -15px);
}

.h-menu:checked + .h-menu-button .menu-line::after {
    transform: rotate(-45deg) translate(15px, 15px);
}

/* Header / Hero content */

.container {
    display: flex;
    width: 90%;
    max-width: 672px; 
    position: absolute;
    top: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--color-white);
}

.container h1 {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
}

.container h3 {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 5px;
}

.action-button {
    width: 180px;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
    text-decoration: none;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-white);

    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    border-radius: 26px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

.action-button:hover {
    background:  rgba(255, 101, 101, 0.88);
}

.container p {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: normal;
    font-size: rem;
}

/* Responsive header Media queries */

@media only screen and (max-width: 765px) {
    html {
        font-size: 87.5%;
    }

    /* header {
        background: url(./images/headphones_hero_1.jpg) no-repeat 35% 50% ; 
    } */

    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .h-menu + .h-menu-button + nav .nav-menu {
        flex-direction: column;
        justify-content: space-around;
        display: none;
    }

    .h-menu:checked + .h-menu-button + nav .nav-menu {
        display: flex;
    }

    .h-menu:checked + .h-menu-button + nav + .container {
        top: 60%;
    }
    
    .nav-menu .nav-item {
        margin: 2rem;
    }
    
    .logo {
        margin-top: 20px;
    }

    .h-menu-button {
        display: block;
        position: absolute;
        top: 5.7%; 
        left: 10%;
    }
}

@media only screen  and (max-width: 480px) {
    html {
        font-size: 87.5%;
    }

    .container {
        top: 35%;
    }

    /* header {
        background: url(./images/headphones_hero_1.jpg) no-repeat 35% 50% ; 
    } */
}